*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }

@font-face {

    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Oswald")
        url("./fonts/Oswald/Oswald-VariableFont_wght.woff") format("woff"),
        url("./fonts/Oswald/Oswald-VariableFont_wght.ttf") format(ttf);
    
   }

*{
font-family: 'Finlandica', sans-serif;
}

.text-fonts{
    font-family: 'Oswald', sans-serif;
    background: #008000;
    color: rgb(0, 0, 0, 1);
    text-shadow: 4px 3px 3px black;
    font-size: 15px;
    line-height: 2;
    font-weight: bold;
    text-align: center;
}

.text-fonts1{
    font-family: 'Finlandica', sans-serif;
    background: yellow;
    font-size: 12px;
    text-align: justify;
}

.text-fonts2{
    font-family: 'Roboto+Mono', sans-serif;
    background: Navy;
    font-size: 12px;
    text-align: justify;
}


